#jokesContainer{
   margin-top: 60px;
}


#jokesTime{
        text-align: center;
        padding: 20px;
        border: 2px solid #000;
        border-radius: 10px;
}

#dadJokesHere {
    margin: 30px;
}

#reviews {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.buttonReviewContainer {
    margin: 20px;
}

.buttonReview {
    margin: 15px;
    border: none;
    background: none;
    width: 60px;
    height: 50px;
}

.reviewPicture {
    width: 50px;
    height: 50px;
}
.reviewPicture:hover {
    width: 55px;
    height: 55px;
}